/* body {
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    padding: 2em
}

.fab {
    display: inline-block;
    width: 30px;
    border-radius: 50%;
    background: white;
    color: rgb(39, 39, 39);
}

.container {
    display: flex;
    justify-content: center;
}

h1, h2 {
    font-weight: 500;
    text-align: center;
}

.round {
    border-radius: 50%;
    width: 5em;
}

.row {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    flex-direction: column;
    padding-left: 3%;
    text-align: left;
}

span {
    font-size: 1.5rem;
    padding-bottom: 0.5em;
}

p {
    font-size: 1.2rem;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    text-align: left;
}

.left-pad {
    padding-left: 16%;
}

a:link {
    color: #0063ee;
}

a:link:hover {
    color: #0000ee;
}

a:visited {
    color: #0063ee;
}

a.button {
    text-decoration: none;
}

.button{
    border-radius: 5%;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    height: 2em;
    cursor: pointer;
    background-color: #c6f4ff;
    border: 1px solid #c6f4ff;
    color: #3c4043;

}

.button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #d1f6ff;
    border: 1px solid #9cecff;
    color: #202124;
}
 */
