$light: #f7f7f7;
$dark: #222121;
$darkText: #363636;
$lime: #00cc66;
$orangeRed: #fb4b4e;
$blue: #2541b2;
$lightBlue: #9cecff;
$aquaBlue: #0d91b3;
$gray: rgb(144, 144, 144);

$discord: #7289d9;
$twitter: #46C1F6;
$instagram: #e1306c;
$github: #333;
$linkedin: #0072b1;


// create colors this way with & and basically use the name of the color in code instead of the hex